torch==2.0.1
torchvision==0.15.2

mmengine==0.7.3 --no-deps
mmdet==3.0.0 --no-deps
mmsegmentation==1.0.0 --no-deps
git+https://github.com/open-mmlab/mmdetection3d.git@22aaa47fdb53ce1870ff92cb7e3f96ae38d17f61 --no-deps
mmcv==2.0.0
torch-scatter==2.1.2
spconv-cu116==2.3.6
addict==2.4.0
yapf==0.33.0
termcolor==2.3.0
packaging==23.1
numpy==1.24.1
rich==13.3.5
opencv-python==4.7.0.72
pycocotools==2.0.6
Shapely==1.8.5
scipy==1.10.1
terminaltables==3.1.10
numba==0.57.0
llvmlite==0.40.0
pccm==0.4.7
ccimport==0.4.2
pybind11==2.10.4
ninja==1.11.1
lark==1.1.5
cumm-cu116==0.4.9
pyquaternion==0.9.9
lyft-dataset-sdk==0.0.8
pandas==2.0.1
python-dateutil==2.8.2
matplotlib==3.5.2
pyparsing==3.0.9
cycler==0.11.0
kiwisolver==1.4.4
scikit-learn==1.2.2
joblib==1.2.0
threadpoolctl==3.1.0
cachetools==5.3.0
nuscenes-devkit==1.1.10
trimesh==3.21.6
open3d==0.17.0
plotly==5.18.0
dash==2.14.2
plyfile==1.0.2
flask==3.0.0
werkzeug==3.0.1
click==8.1.7
blinker==1.7.0
itsdangerous==2.1.2
importlib_metadata==2.1.2
zipp==3.17.0